@model SteerRent.Model.AccountModel.LogOnModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/CSS/style.css" />
     <title>@ViewBag.Title</title>
</head>
<body>


@using (Html.BeginForm()) {
    @Html.ValidationSummary()
         <p class="message-info">
</p>
        <div id="login_mn">
            <div id="login_main-cntr">
                <div class="lgn-innr1">
    <div class="lgn-frm">
   <fieldset>
        <legend>Forgot Password</legend>
        @*Passwords must be at least @Membership.MinRequiredPasswordLength characters long.*@
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)                
            </li>
        </ol>
        <input type="submit" class="btn_login" id="btnForgotPassword" value="Submit" />
    </fieldset>
        </div>
                    </div>
                </div>
            </div>
}

    
</body>
</html>