@model SteerRent.Model.AccountModel.LogOnModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/CSS/style.css" />
     <title>@ViewBag.Title</title>
</head>
<body>
<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Forgot Password</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.PasswordFor(m => m.UserName)                
            </li>
        </ol>
        <input type="submit" class="btn_login" id="btnForgotPassword" value="Submit" />
    </fieldset>
}

    
</body>
</html>