@model SteerRent.Model.ChargeCodeModel
@{
    var isServiceType = Model.ServiceChargeType =="F"? true : false;
    var isPerc = Model.ServiceChargeType =="P" ? true : false;
    var ServiceChargeValue = (Model.ServiceCharge > 0 ? Model.ServiceCharge : Convert.ToDecimal(0.000));
    }

<div id="ChargeCodeAddUpdate">
    <script src="~/Scripts/steerrent.js"></script>

    <form id="frmChargeCode" method="get">
        <div class="contain_row">
            @if(Model.ChargeCodeID>0){
            <h5 class="contain_title">Update Charge Code</h5>}
            else
            {<h5 class="contain_title">Add Charge Code</h5>}
            <div class="contain_sub_row">
                <div class="contain_left_part">
                    <p class="label_part">Code <span>*</span></p>
                    <div class="label_input_part">
                        <input name="txtChargeCodeID" id="txtChargeCodeID"  value="@Model.ChargeCodeID" type="hidden" />
                        <input name="txtChargeCode" id="txtChargeCode" class="alphaNum9"  value="@Model.ChargeCode" type="text" placeholder="" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="contain_left_part">
                    <p class="label_part">Short Description <span>*</span></p>
                    <div class="label_input_part">
                        <input name="txtChargeCodeDesc" id="txtChargeCodeDesc" class="alphaNum29" value="@Model.ChargeCodeDesc" type="text" placeholder="" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div>&nbsp;</div>
            <div class="contain_sub_row">
                <div class="contain_left_part">
                    <p class="label_part">Rate Basis <span>*</span></p>
                    <div class="label_combo_part">
                        <label class="label_radio">
                            <input name="chkGroupDriven" id="chkGroupDriven" type="checkbox" checked="@Model.GroupDriven" value="GroupDriven" />
                            Group Driven</label><br />
                        <label class="label_radio">
                            <input name="chkUnitDriven" id="chkUnitDriven" type="checkbox" checked="@Model.UnitDriven" value="UnitDriven" />
                            Unit Driven</label><br />
                        <label class="label_radio">
                            <input name="chkAdhoc" id="chkAdhoc" type="checkbox" checked="@Model.AdhocValue" value="Adhoc" />
                            Adhoc</label>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="contain_left_part">
                    <p class="label_part">Type <span>*</span></p>
                    <div class="label_combo_part">
                        <select name="ddlCCType" id="ddlCCType">
                            <option value="0"></option>
                            <option selected="@Model.IsDeductible" value="1">Discount</option>
                            <option selected="@Model.IsInsurance" value="2">Insurance</option>
                            <option selected="@Model.IsRental" value="3">Rental</option>
                            <option selected="@Model.IsNonRental" value="4">Non-Rental</option>
                            <option selected="@Model.IsTrafficViolation" value="5">Traffic Violation</option>
                            <option selected="@Model.IsVasWhileClosing" value="6">VAS While Closing</option>
                            <option selected="@Model.IsVasWhileRenting" value="7">VAS While Renting</option>
                            <option selected="@Model.IsOtherVas" value="8">Other VAS</option>
                            <option selected="@Model.IsOtherCompliance" value="9">Other Compliance</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div>&nbsp;</div>
            <div class="contain_sub_row">
                <div class="contain_left_part">
                    <p class="label_part">Service Charge <span></span></p>
                    <div>
                        <select id="ddlServiceType" name="ddlServiceType" class="special_combo_for_form">
                            <option value="P" selected="@isPerc">%</option>
                            <option value="F" selected="@isServiceType">Fixed</option>
                        </select>
                        <img align="left" src="/images/tab.png" />
                        <input name="txtServiceChargeAppl" value="@ServiceChargeValue" id="txtServiceChargeAppl" class="numOnly9" type="text"  style="width: 50px; height: 16px; padding: 2px; display: block; outline: none; background: none; font-family: Arial, Helvetica, sans-serif; color: #000; border: 1px solid #ccc;"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="contain_left_part">
                    <p class="label_part">Deductible on Acc/Dmg <span></span></p>
                    <div>
                        @{ var objWaive = Model.WaivingPercentage > 0 ? Model.WaivingPercentage : Convert.ToDecimal(0.000);
                           var oTypeIns = Model.IsInsurance == true?false:true;
                           }
                        <select id="ddlWaive" disabled="@oTypeIns" class="special_combo_for_form">
                            <option>Waive %</option>
                        </select>
                        <img align="left" src="/images/tab.png" />
                        <input name="txtWaiveValue" id="txtWaiveValue" class="numOnly9" readonly="@oTypeIns" type="text" value="@objWaive" style="width: 50px; height: 16px; padding: 2px; display: block; outline: none; background: none; font-family: Arial, Helvetica, sans-serif; color: #000; border: 1px solid #ccc;"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

                <div>&nbsp;</div>
            </div>
            <div class="contain_sub_row">
                <div class="contain_left_part">
                    <p class="label_part"><span></span></p>
                    <div>
                        <label class="label_radio">
                            <input name="chkIsSecured" id="chkIsSecured" type="checkbox" checked="@Model.IsSecured" />
                            <i>Secure Service Charges</i></label>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="contain_left_part">
                    <p class="label_part"><span></span></p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div>&nbsp;</div>
        </div>
        <div class="contain_row">
            <div class="contain_sub_row">
                <div class="contain_left_part">
                    <p class="label_part">&nbsp;<span></span></p>
                    <div class="label_combo_part">
                        <label class="label_radio">
                            <input name="chkCCActivate" id="chkCCActivate" type="checkbox" checked="@Model.IsActive"/>
                            Activate this Charge Code</label>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="contain_left_part">
                    <p class="label_part">&nbsp;<span></span></p>
                    <div class="label_input_part">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="submit_part">
            <div class="contain_submit_row">
                @if (Model.ChargeCodeID > 0)
                {
                    <button type="button" id="btnSubmitUpdA5" class="submit_btn" value="Submit">Update</button>
                    <button type="button" class="addnew_btn" onclick="fnCCAddUpdate(0)" value="Add New">Add New</button>
                    <button type="button" id="btnDeleteA5" class="delete_btn" value="Delete">Delete</button>
                }
                else
                {
                    <button type="button" id="btnSubmitA5" class="submit_btn" value="Submit">Submit</button> }
            </div>
        </div>
    </form>
</div>

<script lang="ja" type="text/javascript">
    // bind slider
    var slidetabs = $('#slidetabs').slidetabs({
        orientation: 'horizontal',
        autoHeight: true,
        touchSupport: true
    });

    $('#btnSubmitA5').click(function () {
        if (ccValidate()) {
            $('#txtServiceChargeAppl').val($('#txtServiceChargeAppl').val() == '' ? '0' : $('#txtServiceChargeAppl').val());
            $('#txtWaiveValue').val($('#txtWaiveValue').val() == '' ? '0' : $('#txtWaiveValue').val('0'));
            ChargeCodeInsertUpdate(true);
        }
        else {
            slidetabs.setContentHeight();
            return false;
        }
    });

    $('#btnSubmitUpdA5').click(function () {
        if (ccValidate()) {
            $('#txtServiceChargeAppl').val($('#txtServiceChargeAppl').val() == '' ? '0' : $('#txtServiceChargeAppl').val());
            $('#txtWaiveValue').val($('#txtWaiveValue').val() == ''? '0': $('#txtWaiveValue').val('0'));
            ChargeCodeInsertUpdate(false);
        }
        else
            return false;
    });

    function ChargeCodeInsertUpdate(isInsert) {
        var href;
        if (isInsert) {
            href = '@Url.Action("ChargeCodeInsert")';
        } else { href = '@Url.Action("ChargeCodeUpdate")'; }
        $.ajax({
            url: href,
            data: $('#frmChargeCode').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#CCReqMsg').css("display", "none");
                $('#CCNetworkErrorMsg').css("display", "none");
                if (data.length > 0) {
                    if (data[0].isCCExist)
                    {
                        $('.ErrorMsgCC').css("display", "block");
                        $('#CCFailMsg').css("display", "block");
                        $('#CCExistMsg').css('display', 'block');
                    }
                    else {
                        $('#dvCCSearchDetails').html(data);
                        $('.ErrorMsgCC').css('display', 'none');
                        //fnCCAddUpdate(0);
                        $('#CCSuccessMsg').css("display", "block");
                        slidetabs.setContentHeight();
                    }
                }
                
                slidetabs.setContentHeight();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('.ErrorMsgCC').css("display", "block");
                $('#CCFailMsg').css("display", "block");
                $('#CCNetworkErrorMsg').css("display", "block");
                $('#CCExistMsg').css('display', 'none');
                $('#CCReqMsg').css("display", "none");
                $('#CCSuccessMsg').css("display", "none");
                slidetabs.setContentHeight();
            }
        });
    }

    $("input[id=chkUnitDriven]").click(function () {
        if ($('#chkGroupDriven').attr('checked') || $('#chkUnitDriven').attr('checked'))
            $('#chkAdhoc').attr('checked', false);
    });

    $("input[id=chkGroupDriven]").click(function () {
        if ($('#chkGroupDriven').attr('checked') || $('#chkUnitDriven').attr('checked'))
            $('#chkAdhoc').attr('checked', false);
    });

    $("input[id=chkAdhoc]").change(function () {
        if ($('#chkAdhoc').attr('checked')){
            $('#chkGroupDriven').attr('checked',false);
            $('#chkUnitDriven').attr('checked',false)}
    });

    $("#ddlCCType").change(function () {
            $("#ddlServiceType option[value='P']").attr('selected', 'selected')
            $('#txtServiceChargeAppl').val('0');
            $('#txtWaiveValue').val('0');
            $('#chkIsSecured').attr('checked', false);
            $('#chkCCActivate').attr('checked', false);
            
            if ($("#ddlCCType").val() == 0 || $("#ddlCCType").val() == 2) {
                $('#ddlWaive').removeAttr('disabled');
                $('#txtWaiveValue').removeAttr('readonly');
            }
            else {
            $('#ddlWaive').attr('disabled', 'disabled');
            $('#txtWaiveValue').attr('readonly', true);
            $('#txtWaiveValue').val('0');
        }
    });

    $('#btnDeleteA5').click(function () {
        var href = '@Url.Action("ChargeCodeDelete")';
        var LocId = $('#txtChargeCodeID').val();
        $.ajax({
            url: href,
            data: { id: LocId},
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#dvCCSearchDetails').html(data);
                $('#chkCCActivate').attr("checked", false);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('.ErrorMsgCC').attr("style", "display:block");
                $('#CCNetworkErrorMsg').attr("style", "display:block");
                $('#CCSuccessMsg').attr("style", "display:none");
                slidetabs.setContentHeight();
            }
        });
    });

    function ccValidate() {
        if ($('#txtChargeCode').val() != '' && $('#txtChargeCodeDesc').val() != '' && $('#ddlCCType').val() > 0 && ($('#chkGroupDriven').attr('checked') || $('#chkUnitDriven').attr('checked') || $('#chkAdhoc').attr('checked'))) {
            slidetabs.setContentHeight();
            $('.ErrorMsgCC').css("display", "none");
            $('#CCSuccessMsg').css("display", "none");
            return true;
        } else {
            $('.ErrorMsgCC').css("display", "block");
            $('#CCFailMsg').css("display", "block");
            $('#CCReqMsg').css("display", "block");
            $('#CCExistMsg').css("display", "none");
            $('#CCSuccessMsg').css("display", "none");
            $('#CCNetworkErrorMsg').css("display", "none");
            slidetabs.setContentHeight();
            return false;
        }
    }
</script>