@model SteerRent.Model.ChargeCodeModel

@{
    var isServiceType = @Model.ServiceChargeType =="F"? true : false;
    var isPerc = @Model.ServiceChargeType =="P" ? true : false;
    var isFixedValue = (@isServiceType == true ? @Model.ServiceCharge : 0);
    var isPercValue = (@isPerc == true ? @Model.ServiceCharge : 0);
    }
<div id="ChargeCodeAddUpdate">
    <form name="frmChargeCode" id="frmChargeCode" method="get">
                                            <div class="contain_row">
                                        	<h5 class="contain_title">Add/Update Charge Code</h5>   
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Code <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtChargeCodeID" id="txtChargeCodeID"  value="@Model.ChargeCodeID" type="hidden">
                                                        <input name="txtChargeCode" id="txtChargeCode"  value="@Model.ChargeCode" type="text" placeholder="">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<p class="label_part">Description <span>*</span></p>
                                                <div class="label_textarea_part">
                                                    <textarea name="txtChargeCodeDesc" class="label_part" id="txtChargeCodeDesc">@Model.ChargeCodeDesc</textarea>
                                                </div>

                                                <div class="clear"></div>
                                            </div>

                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Label TBD <span></span></p>
                                                    <div class="label_combo_part">
                                                        <label class="label_radio"><input name="chkGroupDriven" id="chkGroupDriven" checked="@Model.GroupDriven" type="checkbox" value="GroupDriven"> Group Driven</label><br />
                                                        <label class="label_radio"><input name="chkUnitDriven" id="chkUnitDriven" checked="@Model.UnitDriven" type="checkbox" value="UnitDriven"> Unit Driven</label><br />
                                                        <label class="label_radio"><input name="chkAdhoc" id="chkAdhoc" checked="@Model.AdhocValue" type="checkbox" value="Adhoc"> Adhoc</label>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                    
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Label TBD <span></span></p>
                                                    <div class="label_combo_part">
                                                        <label class="label_radio"><input name="chkInsurance" id="chkInsurance" type="checkbox" checked="@Model.IsInsurance" value="Insurance"> Insurance</label><br />
                                                        <label class="label_radio"><input name="chkRental" id="chkRental" checked="@Model.IsRental" type="checkbox" value="Rental"> Rental</label><br />
                                                        <label class="label_radio"><input name="chkDiscount" id="chkDiscount"  type="checkbox" value="Discount"> Discount</label><br />
                                                        <label class="label_radio"><input name="chkNonRental" type="checkbox" id="chkNonRental" checked="@Model.IsNonRental" value="NonRental"> Non Rental</label><br />
                                                        <label class="label_radio"><input name="chkTrafficViolation" id="chkTrafficViolation" checked="@Model.IsTrafficViolation" type="checkbox" value="TrafficViolation"> Traffic Violation</label><br />
                                                        <label class="label_radio"><input name="chkOtherCompliance" id="chkOtherCompliance" checked="@Model.IsOtherCompliance" type="checkbox" value="OtherCompliance"> Other Compliance</label><br />
                                                        <label class="label_radio"><input name="chkVASWhileRenting" type="checkbox" id="chkVASWhileRenting" checked="@Model.IsVasWhileRenting" value="VASWhileRenting"> VAS While Renting</label><br />
                                                        <label class="label_radio"><input name="chkVASWhileClosing" type="checkbox" id="chkVASWhileClosing" checked="@Model.IsVasWhileClosing" value="VASWhileClosing"> VAS While Closing</label><br />
                                                        <label class="label_radio"><input name="chkServiceChargesApplicable" id="chkServiceChargesApplicable" checked="@Model.ServiceChargeApplicable" type="checkbox" value="ServiceChargesApplicable"> Service Charges Applicable</label><br />
                                                        <img align="left" src="~/images/tab.png" /><label class="label_radio"><input name="radServiceType" id="radServiceTypeFixed" type="radio" checked="@isServiceType" value="Fixed"> Fixed </label><br />
                                                        <img align="left" src="~/images/tab.png" /><input name="txtServiceChargeFixed" value="@isFixedValue" id="txtServiceChargeFixed" type="text" style="width:50px;height:20px;padding:5px 8px;display:block;outline:none;background:none;font-family:Arial, Helvetica, sans-serif;color:#000;border:1px solid #ccc;"><br />
                                                        <img align="left" src="~/images/tab.png" /><label class="label_radio"><input name="radServiceType" id="radServiceTypePerc" type="radio" checked="@isPerc" value="Percentage"> Percentage </label><br />
                                                        <img align="left" src="~/images/tab.png" /><input name="txtServiceChargePerc" id="txtServiceChargePerc" value="@isPercValue" type="text" style="width:50px;height:20px;padding:5px 8px;display:block;outline:none;background:none;font-family:Arial, Helvetica, sans-serif;color:#000;border:1px solid #ccc;"><br />
                                                    </div>
                                                    
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                    <p class="label_part"><span></span></p>
                                                    <div class="label_combo_part">
                                                        <label class="label_radio"><input name="chkVAS" id="chkVAS" checked="@Model.IsOtherVas" type="checkbox" value="VAS"> Value Added Services</label><br />
                                                        <label class="label_radio"><input name="chkDeductible" id="chkDeductible" checked="@Model.IsDeductible" type="checkbox" value="Deductible"> Deductible on Accident/Damage</label><br />
                                                            <img align="left" src="images/tab.png" /><input name="txtDeductibleAccident"  value="@Model.WaivingPercentage"  id="txtDeductibleAccident" type="text" style="width:50px;height:20px;padding:5px 8px;display:block;outline:none;background:none;font-family:Arial, Helvetica, sans-serif;color:#000;border:1px solid #ccc;">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                 
                                            </div>
                                             <div>&nbsp;</div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">&nbsp;<span></span></p>
                                                    <div class="label_combo_part">
                                                        <label class="label_radio"><input name="chkActivate" id="chkActivate" checked="@Model.IsActive" type="checkbox" value="Activate"> Activate this Charge Code</label>
                                                        </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                    <p class="label_part">&nbsp;<span></span></p>
                                                    <div class="label_input_part">
                                                    </div>                                                    
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        </div>                                                                          
                                        
                                        <div class="submit_part">
                                            <div class="contain_submit_row">
                                                @if(Model.ChargeCodeID >0)
                                                {
                                                    <button type="button" id="btnSubmitUpdA5" class="submit_btn" value="Submit">Update</button>
                                                }
                                                else
                                                {<button type="button" id="btnSubmitA5" class="submit_btn" value="Submit">Submit</button> }
                                                <button type="button" class="addnew_btn" onclick="fnCCAddUpdate(0)" value="Add New">Add New</button>
                                            </div>
                                        </div>
        </form>
</div>

<script>

    //function fnServiceTypeEnableFixed()
    //{
    //    if ($('#radServiceType').checked)
    //    { }
    //    else
    //    { }
    //}

    $('#btnSubmitA5').click(function () {
        if (ccValidate()) {
            ChargeCodeInsertUpdate(true);
        }
        else
            return false;
    });

    $('#btnSubmitUpdA5').click(function () {
        if (ccValidate()) {
            ChargeCodeInsertUpdate(false);
        }
        else
            return false;
    });

    function ChargeCodeInsertUpdate(isInsert) {
        var href;
        if (isInsert) {
            href = '@Url.Action("ChargeCodeInsert")';
        } else { href = '@Url.Action("ChargeCodeUpdate")'; }
        var frm = $('#frmChargeCode').serialize();
        $.ajax({
            url: href,
            data: $('#frmChargeCode').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#grdChargeCodes').html(data);
                // alert('Successfully inserted.');
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
                //alert("Error:Action is aborted.Please try again later.");
            }
        });
    }

    function ccValidate() {
        if ($('#txtChargeCode').val() != '' && $('#txtChargeCodeDesc').val() != '') {
            return true;
        } else {
            $('.error_msg_bg').css("display", "block");
            $('.error_msg_sm').css("display", "block");
            return false;
        }
    }
</script>