@model SteerRent.Model.LookupCategoryModel
@{
    Layout = null;
}
<div id="HLookupGrdList">
    <div class="label_textarea_part">
        <table class="gridtable">
            <tr>
              <th width="45%">Category
                </th>
                <th width="45%">Sub-Category
                </th>
                <th width="10%">Status
                </th>
            </tr>
            @if (Model.HLookupList != null)
            {
                if (Model.HLookupList.Count > 0)
                {
                    foreach (var item in Model.HLookupList)
                    {
                <tr>
                    <td>
                        @item.GLookupDesc
                    </td>
                    <td>
                        @item.HLookupDesc
                    </td>
                    <td>
                        <input type="checkbox" id="@item.HLookupID" checked="@item.IsActive" class="checkbox-mrg" />
                    </td>
                </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                <tr>
                    <td colspan="3"><span class="error_msg">No record(s) found.</span></td>
                </tr>
                                                                }
                                                            }
            else
            {
                <tr>
                    <td colspan="3"><span class="error_msg">No record(s) found.</span></td>
                </tr>
                                                                }
        </table>
        <div class="clear"></div>
        </br>
    @if (Model.HLookupList != null)
    {
        if (Model.HLookupList.Count > 0)
        {
        <h5 style="text-align: right"><span id="spnHLookupTotCnt">@Model.HLookupList.Count()</span> records found.
    <span id="spnHLookActiveCnt">@Model.HLookupList.Where(m => m.IsActive == true).Count()</span> - Active,
    <span  id="spnHLookInActiveCnt">@Model.HLookupList.Where(m => m.IsActive == false).Count()</span> - Inactive.</h5>
        }
    }
    </div>
    </div>
<script lang="ja" type="text/javascript">
    //Updating Active/Inactive status when clicking on checkbox
    $("input[type=checkbox]").change(function () {
        var id = this.id;
        var State = $(this).is(':checked');
        var href = '@Url.Action("HLookupStatusUpdate")';
        $.ajax({
            url: href,
            data: { Id: id, Status: State },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function () {
                var actCnt = Number($('#spnHLookActiveCnt').text());
                var inActCnt = Number($('#spnHLookInActiveCnt').text());
                if (State == true) {
                    if (actCnt >= 0)
                        $('#spnHLookActiveCnt').text(actCnt + 1);
                    if (inActCnt > 0)
                        $('#spnHLookInActiveCnt').text(inActCnt - 1);
                }
                else {
                    if (actCnt > 0)
                        $('#spnHLookActiveCnt').text(actCnt - 1);
                    if (inActCnt >= 0)
                        $('#spnHLookInActiveCnt').text(inActCnt + 1);
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
            }
        });
    });
</script>
