@model SteerRent.Model.LocationModel
@{
    dynamic lsAgtStart = Model.LeaseAgreementNoStart;
    lsAgtStart = lsAgtStart == 0 ? string.Empty : lsAgtStart;
    dynamic lsAgtCurrent = Model.LeaseAgreementNoCurrent;
    lsAgtCurrent = lsAgtCurrent == 0 ? string.Empty : lsAgtCurrent;
    dynamic rentAgtStart = Model.RentalAgreementNoStart;
    rentAgtStart = rentAgtStart == 0 ? string.Empty : rentAgtStart;
    dynamic rentAgtCurrent = Model.RentalAgreementNoCurrent;
    rentAgtCurrent = rentAgtCurrent == 0 ? string.Empty : rentAgtCurrent;
    dynamic reciptStart = Model.ReciptNoStart;
    reciptStart = reciptStart == 0 ? string.Empty : reciptStart;
    dynamic reciptCurrent = Model.ReceiptNoCurrent;
    reciptCurrent = reciptCurrent == 0 ? string.Empty : reciptCurrent;
    var oWorkingFrm = Model.WorkFrom == null ? "" : Model.WorkFrom.Substring(0, 5);
    var oWorkingTill = Model.WorksTill == null ? "" : Model.WorksTill.Substring(0, 5);
    }
<div id="locAddUpdate">
    
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/jquery.ui.timepicker.js?v=0.3.3"></script>
    <link rel="stylesheet" href="~/Content/timer/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/timer/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />
    <script src="~/Scripts/steerrent.js"></script>

    <div class="contain_row">
        @{ if (Model.LocationId > 0)
           { 
            <h5 class="contain_title">Update Location</h5>}
           else
           {<h5 class="contain_title">Add Location</h5>} 
        }
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Location Name <span>*</span></p>
                <div class="label_input_part">
                    @Html.HiddenFor(model => model.lstLocation[0].LocationId)<input name="txtLocationID" id="txtLocationID" type="hidden" value="@Model.LocationId" />
                    <input name="txtLocationName" id="txtLocationName" type="text" class="alphaNum49" value="@Model.LocationName" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Location Code <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocationCode" id="txtLocationCode" value="@Model.LocationCode" class="alphaNum9" type="text" placeholder="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>&nbsp;</div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Address Line 1 <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocAddressLine1" id="txtLocAddressLine1" type="text" class="alphaNum49" placeholder="" value="@Model.AddressLine1" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Address Line 2 <span></span></p>
                <div class="label_input_part">
                    <input name="txtLocAddressLine2" id="txtLocAddressLine2" type="text" class="alphaNum49" placeholder="" value="@Model.AddressLine2" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">City <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocCity" id="txtLocCity" type="text" placeholder="" class="alpha29" value="@Model.City" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Country <span>*</span></p>
                <div class="label_combo_part">
                    <select name="ddlLocCountry" id="ddlLocCountry">
                        <option value="@Model.CountryId">@Model.Country</option>
                    </select>
                    <input type="hidden" id="hdLocCountry" value="@Model.CountryId" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">State/Emirate <span>*</span></p>
                <div class="label_combo_part">
                    <select name="ddlLocStateEmirate" id="ddlLocStateEmirate">
                        <option value="@Model.EmirateId">@Model.Emirate</option>
                    </select>
                    <input type="hidden" id="hdLocEmirate" value="@Model.EmirateId" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Pin/Zip <span></span></p>
                <div class="label_input_part">
                    <input name="txtLocZip" id="txtLocZip" type="text" placeholder=""  class="numeric20" value="@Model.Zip" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>&nbsp;</div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Location Incharge <span>*</span></p>
                <div class="label_combo_part">
                    <select name="ddlLocationIncharge" id="ddlLocationIncharge">
                    </select>
                    <input type="hidden" id="hdLocationInCharge" name="hdLocationInCharge" value="@Model.LocationInChargeId" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Designation <span></span></p>
                <div class="label_input_part">
                    <input name="txtLocDesignation" id="txtLocDesignation" type="text" placeholder="" class="alpha29" value="@Model.Designation" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Landline No. <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocLandlineNo" id="txtLocLandlineNo" type="text" class="numeric19" value="@Model.Phone" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Mobile No. <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocMobile" id="txtLocMobile" type="text" class="numeric19" value="@Model.Phone" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">E-Mail ID <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLocEmail" id="txtLocEmail" type="email" placeholder="" class="email30" value="@Model.Email" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Fax No. <span></span></p>
                <div class="label_input_part">
                    <input name="txtLocFax" id="txtLocFax" type="text" class="numeric19" value="@Model.Fax" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>&nbsp;</div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Working Hrs - From <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtWorkingTimeFrom" id="txtWorkingTimeFrom"  value="@oWorkingFrm" type="text" class="numeric9 baseinput time" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Working Hrs - To <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtWorkingTimeTo" id="txtWorkingTimeTo" type="text" value="@oWorkingTill" class="numeric9 baseinput time" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>&nbsp;</div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Location Type <span>*</span></p>
                <div class="label_radio_part">
                    <label class="label_radio">
                        <input name="chkLocType" id="chkRevenue"  checked="@Model.IsARevenue"  type="checkbox" value="Revenue" />
                        Revenue</label><br />
                    <label class="label_radio">
                        <input name="chkLocType" id="chkCounter" checked="@Model.IsACounter" type="checkbox" value="Counter" />
                        Counter</label><br />
                    <label class="label_radio">
                        <input name="chkLocType" id="chkWorkShop" checked="@Model.IsAWorkShop" type="checkbox" value="Workshop" />
                        Workshop</label><br />
                    <label class="label_radio">
                        <input name="chkLocType" type="checkbox" checked="@Model.IsAVirtual" id="chkVirtual" value="Virtual" />
                        Virtual</label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Operations <span>*</span></p>
                <div class="label_radio_part">
                    <label class="label_radio">
                        <input name="chkOperation" id="chkRenting" type="checkbox"  checked="@Model.RentingAllowed" value="Renting" />
                        Renting Allowed</label><br />
                                                        <label class="label_radio">
                                                            <input name="chkOperation" type="checkbox" id="chkLeasing" checked="@Model.LeasingAllowed" value="Leasing" />
                                                            Leasing Allowed</label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>&nbsp;</div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Receipt No. Start <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtRecNoStart" id="txtRecNoStart" type="text" class="numeric9" value="@reciptStart" />

                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Receipt No. Current <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtRecNoCurrent" id="txtRecNoCurrent" type="text" class="numeric9"  value="@reciptCurrent" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Rental Agmt No. Start <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtRentAgmtNoStart" id="txtRentAgmtNoStart" type="text" class="numeric9" value="@rentAgtStart" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Rental Agmt No. Current <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtRentAgmtNoCurrent" id="txtRentAgmtNoCurrent" type="text" class="numeric9" value="@rentAgtCurrent" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">Lease Agmt No. Start <span>*</span></p>
                <div class="label_input_part">

                    <input name="txtLeaseAgmtNoStart" id="txtLeaseAgmtNoStart" type="text" class="numeric9" value="@lsAgtStart" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="contain_left_part">
                <p class="label_part">Lease Agmt No. Current <span>*</span></p>
                <div class="label_input_part">
                    <input name="txtLeaseAgmtNoCurrent" id="txtLeaseAgmtNoCurrent" type="text" class="numeric9" value="@lsAgtCurrent" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="contain_row">
        <div class="contain_sub_row">
            <div class="contain_left_part">
                <p class="label_part">&nbsp;<span></span></p>
                <div class="label_radio_part">
                    <label class="label_radio">
                        <input name="chkLocActivate" checked="@Model.IsActive" id="chkLocActivate" type="checkbox" value="Activate" />
                        Activate this Location</label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="submit_part">
        <div class="contain_submit_row">
            @{ if (Model.LocationId > 0)
               { 
                <button type="button" id="btnSubmitUpdA4" class="submit_btn" value="Submit">Update</button>
                <button type="button" id="btnAddNewA4" class="addnew_btn" value="Add New">Add New</button>
                <button type="button" id="btnDeleteA4" class="delete_btn" value="Delete">Delete</button>
               }
               else
               {<input type="button" id="btnSubmitA4" class="submit_btn" value="Submit" />} 
            }
        </div>
    </div>
</div>


<script src="~/Content/DateTimePick/date-functions.js"></script>
<link href="~/Content/DateTimePick/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Content/DateTimePick/jquery.datetimepicker.js"></script>

<script type="text/javascript" lang="ja">

    $('#txtWorkingTimeFrom').datetimepicker({
       datepicker: false,
        format: 'H:i',
        step: 5
    });

    $('#txtWorkingTimeTo').datetimepicker({
        datepicker: false,
        format: 'H:i',
        step: 5
    });

    // bind slider
    var slidetabs = $('#slidetabs').slidetabs({
        orientation: 'horizontal',
        autoHeight: true,
        touchSupport: true
    });

    //$('#txtWorkingTimeFrom').timepicker({
    //    showPeriod: true,
    //    showLeadingZero: true
    //});

    //$('#txtWorkingTimeTo').timepicker({
    //    showPeriod: true,
    //    showLeadingZero: true
    //});

    //if ($.trim($('#txtLocationName').val()) != '') {
    //    $('#btnSubmitA4').val('Update');
    //}
    //else
    //    $('#btnSubmitA4').val('Submit');

    $('#btnSubmitA4').click(function () {
        var isFormDataValid = locValidate();
        if (isFormDataValid) {
            LocInsertUpdate();
        }
    });

    getMasterData('Country', '#ddlLocCountry', false, 0, $('#hdLocCountry').val());
    getMasterData('Location', '#ddlLocationIncharge', true, 0, $('#hdLocationInCharge').val());

    if ($('#txtLocationID').val() > 0) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: 'Emirate', isGlookup: false, gLookupId: $('#hdLocCountry').val() },
                success: function (data) {
                    $("#ddlLocStateEmirate").children().remove();
                    $("#ddlLocStateEmirate").append($('<option />').attr('value', '0').text(''));
                    $.each(data, function () {
                        if ($('#hdLocEmirate').val() == this.Value)
                            $("#ddlLocStateEmirate").append($('<option selected />').attr('value', this.Value).text(this.Text));
                        else
                            $("#ddlLocStateEmirate").append($('<option />').attr('value', this.Value).text(this.Text));
                    });
                }
        });
    }

    $("#ddlLocCountry").change(loadEmirates);
    function loadEmirates() {
        if ($("#ddlLocCountry").val() > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getMasterData")',
                data: { str: 'Emirate', isGlookup: false, gLookupId: $("#ddlLocCountry").val() },
                success: function (data) {
                    $("#ddlLocStateEmirate").children().remove();
                    $("#ddlLocStateEmirate").append($('<option />').attr('value', '0').text(''));
                    $.each(data, function () {
                        $("#ddlLocStateEmirate").append($('<option />').attr('value', this.Value).text(this.Text));
                    });
                }
            });
        }
        else
            $("#ddlLocStateEmirate").children().remove();
    }

    function getMasterData(str, ddlCtrl, isGlookup, gLookupId, selValue) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: str, isGlookup: isGlookup, gLookupId: gLookupId },
            success: function (data) {
                $(ddlCtrl).empty();
                $(ddlCtrl).append($('<option />').attr('value', '0').text(''));
                $.each(data, function () {
                    if (this.Value == selValue)
                    { $(ddlCtrl).append($('<option selected />').attr('value', this.Value).text(this.Text)); } else {
                        $(ddlCtrl).append($('<option />').attr('value', this.Value).text(this.Text));
                    }
                });
                slidetabs.setContentHeight();
            }
        });
    }

    $('#btnDeleteA4').click(function () {
        var href = '@Url.Action("LocationStatusUpdate")';
        var LocId = $('#txtLocationID').val();
        $.ajax({
            url: href,
            data: { Id: LocId, Status: false },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function () {
                $('#dvActivate-' + LocId).text('InActive').removeClass("label_part").addClass("error_msg");
                $('#dvActivate-' + LocId).attr('id', 'dvInActivate-' + LocId);
                $('#spnLocActiveCnt').text(Number($('#spnLocActiveCnt').text()) - 1);
                $('#spnLocInActiveCnt').text(Number($('#spnLocInActiveCnt').text()) + 1);
                $('#chkLocActivate').attr("checked", false);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('.ErrorMsgLoc').attr("style", "display:block");
                $('#LocNetworkErrMsg').attr("style", "display:block");
                $('#LocSuccessMsg').attr("style", "display:none");
                slidetabs.setContentHeight();
            }
        });
    });

    $('#btnAddNewA4').click(function () {
        NewLocation();
    });

    function NewLocation()
    {
        $.ajax({
            url: '@Url.Action("LocationSelect", "Master")',
        data: { id: 0 },
        type: "POST",
        datatype: "json",
        traditional: true,
        success: function (data) {
            $('#locAddUpdate').replaceWith(data);
            slidetabs.setContentHeight();
        },
        error: function (jqXhr, textStatus, errorThrown) {
            $('.ErrorMsgLoc').attr("style", "display:block");
            $('#LocNetworkErrMsg').attr("style", "display:block");
            $('#LocSuccessMsg').attr("style", "display:none");
            slidetabs.setContentHeight();
        }
    });
}

    $('#btnSubmitUpdA4').click(function () {
        if (locValidate()) {
            LocInsertUpdate();
            slidetabs.setContentHeight();
        }
    });

    function LocInsertUpdate() {
        var href = '@Url.Action("LocationInsert")';
        $.ajax({
            url: href,
            data: $('#frmLocation').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                if (data.length) {
                    $('#srchLocList').html(data);
                    if ($('#txtLocationID').val() == 0) { NewLocation(); }
                    $('#LocSuccessMsg').attr("style", "display:block");
                    $('.ErrorMsgLoc').attr("style", "display:none");
                }
                else {
                    $('.ErrorMsgLoc').attr("style", "display:block");
                    $('#LocFailMsg').attr("style", "display:block");
                    $('#LocExistMsg').attr("style", "display:block");
                    $('#LocSuccessMsg').attr("style", "display:none");
                }
                slidetabs.setContentHeight();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('.ErrorMsgLoc').attr("style", "display:block");
                $('#LocNetworkErrMsg').attr("style", "display:block");
                $('#LocSuccessMsg').attr("style", "display:none");
                //alert("Error:Action is aborted.Please try again later.");
                slidetabs.setContentHeight();
            }
        });
    }

    function locValidate() {
        var chkLocType = $('input[name=chkLocType]').attr('checked');
        var isValidEmail = '';
        if ($.trim($('#txtLocEmail').val()) != '')
        { isValidEmail = $.ValidateEmail($.trim($('#txtLocEmail').val())); }
        var isValid = "none";
        if ($.trim($('#txtLocationName').val()) != '' && $.trim($('#txtLocationCode').val()) != '' && $.trim($('#txtLocAddressLine1').val()) != '' && $.trim($('#txtLocCity').val()) != '' && $('#ddlLocCountry').val() > 0 && $('#ddlLocStateEmirate').val() > 0 && $('#ddlLocationIncharge').val() > 0
           && $.trim($('#txtLocLandlineNo').val()) != '' && $.trim($('#txtLocMobile').val()) != '' && $.trim($('#txtLocEmail').val())!='' && $.trim($('#txtWorkingTimeFrom').val()) != '' && $.trim($('#txtWorkingTimeTo').val()) != '' && $.trim($('#txtRecNoStart').val()) != '' && $.trim($('#txtRecNoCurrent').val()) != '' && $.trim($('#txtRentAgmtNoStart').val()) != '' && $.trim($('#txtRentAgmtNoCurrent').val()) != '' && $.trim($('#txtLeaseAgmtNoStart').val()) != '' && $.trim($('#txtLeaseAgmtNoCurrent').val()) != ''
            && chkLocType == 'checked' && ($('#chkRenting').attr('checked') || $('#chkLeasing').attr('checked'))) {
            isValid = "none";
        } else {
            isValid = "block";
        }

        if (!isValidEmail && $.trim($('#txtLocEmail').val()) != '') {
            isValidEmail = "block";
        } else
            isValidEmail = "none";

        if (isValid == "block" || isValidEmail == "block") {
            $('.ErrorMsgLoc').attr("style", "display:block");
            $('#LocFailMsg').attr("style", "display:block");
            $('#LocReqMsg').attr("style", "display:" + isValid);
            $('#LocInvalidMailMsg').attr("style", "display:" + isValidEmail);
            $('#LocExistMsg').attr("style", "display:none");
            $('#LocSuccessMsg').attr("style", "display:none");
            $('#LocNetworkErrMsg').attr("style", "display:none");
            slidetabs.setContentHeight();
            return false;
        }
        else {
            slidetabs.setContentHeight();
            return true;
        }
    }

</script>
    