@model SteerRent.Model.LocationModel
<div class="contain_row">
    <h5 class="label_part">Locations</h5>
    <div class="contain_sub_row">
        <div class="label_textarea_part">
            <div id="srchLocList">
                <table class="gridtable">
                    <tr>
                        <th width="60%">Location Name</th>
                        <th width="25%">Location Code</th>
                        <th width="15%">Status</th>
                    </tr>
                    @if (Model.lstLocation != null && Model.lstLocation.Count() > 0)
                    {
                        var cnt = 0;
                        foreach (var item in Model.lstLocation)
                        {
                            cnt = cnt + 1;
                        <tr>
                            @*<td >
                                                                            @Html.Raw(cnt)
                                                                        </td>*@
                            <td>
                                <a href='#' onclick="fnLocAddUpdate(@item.LocationId)" title="Click to view '@item.LocationName' details..">@item.LocationName</a>
                            </td>
                            <td>
                                @item.LocationCode
                            </td>
                            <td>
                                @if (item.IsActive == true)
                                {<div id="dvActivate-@item.LocationId" class="label_part">Active</div>}
                                else
                                {
                                    <div id='dvInActivate-@item.LocationId' class="error_msg" >Inactive</div>
                                }
                            </td>
                            @*<td>
                                                                            <input type="checkbox" id="@item.LocationId" name="chkState" checked="@item.IsActive" class="checkbox-mrg" />
                                                                        </td>
                                                                        <td> @if(item.IsActive == false){ <div id='dvDelete-@item.LocationId' class="error_msg">X</div>}
                                                                            else{<div id='dvNoDelete-@item.LocationId' class="error_msg"></div>}
                                                                        </td>*@
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3"><span class="error_msg">No record(s) found.</span></td>
                        </tr>
                    }
                </table>
                @*<div>
                                                                <input type="button" id="
                btnAddNewA4" onclick="fnLocAddUpdate(0)" class="addnew_btn" value="Add New" />
                                                        </div>*@
                @if (Model.lstLocation != null)
                {
                    if (Model.lstLocation.Count > 0)
                    {
                    <h5 style="text-align: right"><span id="spnLocTotCnt">@Model.lstLocation.Count()</span> records found.
    <span id="spnLocActiveCnt">@Model.lstLocation.Where(m => m.IsActive == true).Count()</span> - Active,
    <span id="spnLocInActiveCnt">@Model.lstLocation.Where(m => m.IsActive == false).Count()</span> - Inactive.</h5>
                    }
                }

@*                                                         <div style="margin-left:470px">
                                                         @if (Model.lstLocation != null && Model.lstLocation.Count() > 0)
                                                            {
                                                                @Html.Partial("_SearchCountFacet",Model)
                                                            }
                                                            </div>*@
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script lang="ja" type="text/javascript">
    function fnLocAddUpdate(id) {
        $.get('@Url.Action("LocationSelect", "Master")/' + id, function (data) {
            $('#locAddUpdate').replaceWith(data);
        });
    }

    //Updating Active/Inactive status when clicking on checkbox
    $("input[type=checkbox11]").change(function () {
        var LocId = this.id;
        var State = $(this).is(':checked');
        var href = '@Url.Action("LocationStatusUpdate")';
        $.ajax({
            url: href,
            data: { Id: LocId, Status: State },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function () {
                if (State == true) {
                    $('#dvInActivate-' + LocId).text('Active').removeClass("error_msg").addClass("label_part");
                    $('#dvInActivate-' + LocId).attr('id', 'dvActivate-' + LocId);
                    $('#dvDelete-' + LocId).text('');
                    $('#dvNoDelete-' + LocId).text('');
                }
                else {
                    $('#dvActivate-' + LocId).text('Inactive').removeClass("label_part").addClass("error_msg");
                    $('#dvActivate-' + LocId).attr('id', 'dvInActivate-' + LocId);
                    $('#dvDelete-' + LocId).text('X'); $('#dvNoDelete-' + LocId).text('X');
                }
                //$('#srchList').html(data);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
            }
        });
    });

    function fnLocAddUpdate1(id) {
        var href = '@Url.Action("LocationSelect")';
        $.ajax({
            url: href,
            data: { id: id },
            type: "GET",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#locAddUpdate').html(data);
                //$('#spnResultsMsg').text('Successfully inserted.');
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
                //alert("Error:Action is aborted.Please try again later.");
            }
        });
    }

</script>
