@model SteerRent.Model.LookupCategoryModel
<div id="GlookupGrdList">
    <table class="gridtable">
       <tr>
        <th width="45%">Category
        </th>
        <th width="45%">Value
        </th>
        <th width="10%">Status
        </th>

    </tr>
        @if (Model.GLookupList != null)
        {
            if (Model.GLookupList.Count > 0)
         {
             foreach (var item in Model.GLookupList){
                <tr>
                    <td>
                        @Model.LookupCategoryList.Where(m => m.LookupCategoryID==item.LookupCategoryID).SingleOrDefault().LookupCategoryCode
                    </td>
                    <td>
                        @item.GLookupDesc
                    </td>
                 @*   <td>
                        @if(item.IsActive == true)
                        {<div id="dvActivate-@item.GLookupID" class="label_part">Active</div>}
                        else
                        {
                            <div id='dvInActivate-@item.GLookupID' class="error_msg">InActive</div>
                        }
                    </td>*@
                   <td>
                        <input type="checkbox" name="chkGLookup" id="@item.GLookupID" checked="@item.IsActive" class="checkbox-mrg" />
                    </td>
                </tr>
             }
         }
         else
         {
            <tr><td colspan="3"><span  class="error_msg">No record(s) found.</span></td></tr>
            }
        }
        else
         {
            <tr><td colspan="3"><span  class="error_msg">No record(s) found.</span></td></tr>
            }
</table>
    @if (Model.GLookupList != null)
    {
        if (Model.GLookupList.Count > 0)
        {
    <h5 style="text-align:right"> <span id="spnTotCnt">@Model.GLookupList.Count()</span> records found.
    <span id="spnActiveCnt"> @Model.GLookupList.Where(m => m.IsActive == true).Count()</span> - Active,
    <span id="spnInActiveCnt"> @Model.GLookupList.Where(m => m.IsActive == false).Count()</span> - Inactive.</h5>
        }
    }
    </div>

<script lang="ja" type="text/javascript">
    
</script>