@model SteerRent.Model.LookupCategoryModel
<div id="GlookupGrdList">
    <table class="gridtable">
        <tr>
            <th>
                Category
            </th>
            <th>
                Value
            </th>
            <th>
                Status
            </th>
                <th>
                Activate
            </th>
        </tr>
        @if (Model.GLookupList != null)
        {
            if (Model.GLookupList.Count > 0)
         {
             foreach (var item in Model.GLookupList){
                <tr>
                    <td>
                        @Model.LookupCategoryList.Where(m => m.LookupCategoryID==item.LookupCategoryID).SingleOrDefault().LookupCategoryCode
                    </td>
                    <td>
                        @item.GLookupDesc
                    </td>
                    <td>
                        @if(item.IsActive == true)
                        {<div id="dvActivate-@item.GLookupID" class="label_part">Active</div>}
                        else
                        {
                            <div id='dvInActivate-@item.GLookupID' class="error_msg">InActive</div>
                        }
                    </td>
                    <td>
                        <input type="checkbox" id="@item.GLookupID" checked="@item.IsActive" class="checkbox-mrg" />
                    </td>
                </tr>
             }
         }
         else
         {
            <tr><td colspan="4"><span  class="error_msg">No record(s) found.</span></td></tr>
            }
        }
        else
         {
            <tr><td colspan="4"><span  class="error_msg">No record(s) found.</span></td></tr>
            }
</table>
    <h5>xx records found. xx - Active, xx - Inactive.</h5>
    </div>

<script lang="ja" type="text/javascript">
    function fnGLookupUpdate(id) {
        $.get('@Url.Action("GLookupStatusUpdate", "Master")/' + id, function (data) {
            $('#locAddUpdate').replaceWith(data);
        });
    }

    //Updating Active/Inactive status when clicking on checkbox
    $("input[type=checkbox]").change(function () {
        var id = this.id;
        var State = $(this).is(':checked');
        
        @*var href = '@Url.Action("GLookupStatusUpdate", "Master")/' + id + '/' + State;
        alert(href);
        $.get('@Url.Action("GLookupStatusUpdate", "Master")/' + id+'/'+ State, function (data) {
            alert('done');
            if (State == true) {
                $('#dvInActivate-' + LocId).text('Active').removeClass("error_msg").addClass("label_part");
                $('#dvInActivate-' + LocId).attr('id', 'dvActivate-' + LocId);
            }
            else {
                $('#dvActivate-' + LocId).text('InActive').removeClass("label_part").addClass("error_msg");
                $('#dvActivate-' + LocId).attr('id', 'dvInActivate-' + LocId);
            }
        });*@

        var href = '@Url.Action("GLookupStatusUpdate")';
        $.ajax({
            url: href,
            data: { Id: id, Status: State },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function () {
                if (State == true) {
                    $('#dvInActivate-' + id).text('Active').removeClass("error_msg").addClass("label_part");
                    $('#dvInActivate-' + id).attr('id', 'dvActivate-' + id);
                }
                else {
                    $('#dvActivate-' + id).text('InActive').removeClass("label_part").addClass("error_msg");
                    $('#dvActivate-' + id).attr('id', 'dvInActivate-' + id);
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
            }
        });
    });
</script>