@model SteerRent.Model.CompanySetup

@{
    var imgPath = Model.OrgLogoPath;
    imgPath = (imgPath == "" ? "/testbed_test1/images/comp_logo.png" : imgPath);
    }
<script src="~/Scripts/steerrent.js" lang="ja" type="text/javascript"></script>

<!--- START A003 - Company Setup -->
<div class="A003 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="OrgSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsgOrg">
                <p class="error_msg_bg" id="OrgFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="OrgReqMsg">Please enter all required fields.</p>
                <p class="error_msg_sm" id="OrgInvalidMailMsg">Invalid E-Mail Id format.</p>
                @*<p class="error_msg_sm" id="OrgRequestErrorMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>*@
            </div>
            <form name="frmCompanySetup" id="frmCompanySetup" method="get">
                <div class="contain_row">
                    <h5 class="contain_title">Basic Information</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Company Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtCompanyName" value="@Model.OrgName" class="alpha49" id="txtCompanyName" type="text" placeholder="">
                                <input name="txtOrgID" value="@Model.OrgID" id="txtOrgID" type="hidden">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Company Logo<span></span></p>
                            <div class="label_input_part">
                                <input type="file" class="add_btn" id="fleUpload" value="+" />
                                <img src="/testbed_test1/images/comp_logo.png" id="imgUpload" width="100px" height="35px" />
                            </div>&nbsp;&nbsp;
                            <button type="button" class="" id="btnOrgLogoUpload" value="Upload">Upload</button>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 1 <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgAddrLine1" value="@Model.OrgAddress1" class="alphaNum95"  id="txtOrgAddrLine1" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 2</p>
                            <div class="label_input_part">
                                <input name="txtOrgAddrLine2" id="txtOrgAddrLine2" class="alphaNum95" value="@Model.OrgAddress2" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">City <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgCity" id="txtOrgCity" value="@Model.OrgCity" class="alpha49" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Country <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgCountry" id="ddlOrgCountry">
                                    <option value="@Model.OrgCountryId"></option>
                                </select>
                                <input type="hidden" id="hdOrgCountry" value="@Model.OrgCountryId" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">State/Emirate <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgStateEmirate" id="ddlOrgStateEmirate">
                                </select>
                                <input type="hidden" id="hdOrgEmirate" value="@Model.OrgEmirate" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Pin/Zip <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgPinZip" id="txtOrgPinZip" class="numeric20" value="@Model.OrgZip" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="contain_row">
                    <h5 class="contain_title">Contact Person</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Full Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgContactPerson" id="txtOrgContactPerson" class="alpha49" value="@Model.CPersonName" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Designation <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgDesignation" id="txtOrgDesignation" class="alpha49" value="@Model.CPersonDesignation" type="text" placeholder="" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">E-Mail Id <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgEmail" id="txtOrgEmail" class="email30" value="@Model.OrgEmailID" type="email" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Mobile No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgMobile" id="txtOrgMobile" class="numeric20" value="@Model.CMobileNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Landline No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgLandline" id="txtOrgLandline" class="numeric20" value="@Model.OrgPhoneNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Fax No. <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgFax" id="txtOrgFax" class="numeric20" value="@Model.OrgFaxNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Locations</h5>
                    <div class="contain_sub_row">
                        <p class="label_part">Active Locations</p>
                        <div class="label_textarea_part">
                            <table>
                                @*1. Location Code - Location Name</br>
                                    2. Location Code - Location Name</br>
                                    3. Location Code - Location Name</br>
                                    4. Location Code - Location Name</br>*@
                                @if (Model != null)
                                {
                                    if (Model.lstLocation != null && Model.lstLocation.Count > 0)
                                    {
                                        var cnt = 0;
                                        foreach (var item in Model.lstLocation)
                                        {
                                            cnt = cnt + 1;
                                    <tr>
                                        <td>
                                            @Html.Raw(cnt)<span>.</span>
                                            @item.LocationCode<span> - </span>@item.LocationName
                                        </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td><span class="error_msg">--No Active Locations--</span></td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td><span class="error_msg">--No Active Locations--</span></td>
                                    </tr>
                                }
                            </table>
                        @*<fieldset>
                        <legend>Active Locations:</legend>
                        --No Active Locations--
                        </fieldset>*@
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Currency & Date Format</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Base Currency <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgBaseCurrency" id="ddlOrgBaseCurrency">
                                    <option value="@Model.BaseCurrencyId">@Model.BaseCurrency</option>
                                </select>
                                <input type="hidden" value="@Model.BaseCurrencyId" id="hdOrgCurrency" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <h5>NOTE: Currency format cannot be changed once configured.</h5>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Date Format <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgDateFormat" id="ddlOrgDateFormat">
                                    <option></option>
                                    @if(Model.DateFormat == "1")
                                    {
                                    <option selected value="1">DD/MM/YYYY</option>
                                        <option value="2">MM/DD/YYYY</option>
                                    }
                                    else if (Model.DateFormat == "2")
                                    {
                                    <option value="1">MM/DD/YYYY</option>
                                        <option selected value="2">DD/MM/YYYY</option>
                                    }
                                    else
                                    {<option value="1">DD/MM/YYYY</option>
                                    <option value="2">MM/DD/YYYY</option>}
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <h5>NOTE: Date format cannot be changed once configured.</h5>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" class="submit_btn" id="btnSubmitA3" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A003 -->

<script lang="ja" type="text/javascript">

    if ($.trim($('#txtCompanyName').val()) != '') {
        $('#btnSubmitA3').val('Update');
    }
    else
        $('#btnSubmitA3').val('Submit');
   
    getMasterData('Country', '#ddlOrgCountry', false, 0, $('#hdOrgCountry').val());
    getMasterData('Currency', '#ddlOrgBaseCurrency', true, 0, $('#hdOrgCurrency').val());

    //$("#ddlOrgCountry option[value='" + 1 + "']").attr('selected', 'selected');
    //getMasterData('Currency', '#ddlOrgBaseCurrency', true, 0);
    //$('#ddlOrgCountry').click(function () {
    //    if ($('#ddlOrgCountry').val() == null || $('#ddlOrgCountry').val() == 0) {
    //        getMasterData('Country', '#ddlOrgCountry', false, 0);
            
    //    }
    //});

    //$('#ddlOrgBaseCurrency').click(function () {
    //    if ($('#ddlOrgBaseCurrency').val() == null || $('#ddlOrgBaseCurrency').val() == 0) {
    //        getMasterData('Currency', '#ddlOrgBaseCurrency', false, 0);
    //    }
    //});

    if ($('#txtOrgID').val() > 0) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: 'Emirate', isGlookup: false, gLookupId: $('#hdOrgCountry').val() },
            success: function (data) {
                $("#ddlOrgStateEmirate").children().remove();
                $("#ddlOrgStateEmirate").append($('<option />').attr('value', '0').text(''));
                $.each(data, function () {
                    if ($('#hdOrgEmirate').val() == this.Value)
                        $("#ddlOrgStateEmirate").append($('<option selected />').attr('value', this.Value).text(this.Text));
                    else
                        $("#ddlOrgStateEmirate").append($('<option />').attr('value', this.Value).text(this.Text));
                });
            }
        });
    }

    $("#ddlOrgCountry").change(loadEmirates);
    function loadEmirates()
    {
        if ($('#ddlOrgCountry').val() > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getMasterData")',
                data: { str: 'Emirate', isGlookup: false, gLookupId: $('#ddlOrgCountry').val() },
                success: function (data) {
                    $("#ddlOrgStateEmirate").children().remove();
                    $("#ddlOrgStateEmirate").append($('<option />').attr('value', '0').text(''));
                    $.each(data, function () {
                        $("#ddlOrgStateEmirate").append($('<option />').attr('value', this.Value).text(this.Text));
                    });
                }
            });
        }
        else
            $("#ddlOrgStateEmirate").children().remove();
    }
    //$('#ddlOrgBaseCurrency').click(function () {
    //    if ($('#ddlOrgBaseCurrency').val() == 0 && $('#ddlOrgBaseCurrency').text() != '') {
    //        getMasterData('Currency', '#ddlOrgBaseCurrency', true, 0);
    //    }
    //});

    function getMasterData(str, ddlCtrl, isGlookup, gLookupId,selValue) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: str, isGlookup: isGlookup, gLookupId: gLookupId },
            success: function (data) {
                $(ddlCtrl).empty();
                $(ddlCtrl).append($('<option />').attr('value', '0').text(''));
                $.each(data, function () {
                    if (this.Value == selValue)
                    { $(ddlCtrl).append($('<option selected />').attr('value', this.Value).text(this.Text)); } else {
                        $(ddlCtrl).append($('<option />').attr('value', this.Value).text(this.Text));
                    }
                });
            }
        });
    }

    $('#btnSubmitA3').click(function () {
        var isFormValid = IsFormDataValid();
        if (!isFormValid) {
            $('.ErrorMsgOrg').attr("style", "display:block");
            $('#OrgInvalidMailMsg').attr("style", "display:none");
            $('#OrgReqMsg').attr("style", "display:block");
            slidetabs.setContentHeight();
            return;
        }
        var isValidEmail = $.ValidateEmail($.trim($('#txtOrgEmail').val()));
        if (!isValidEmail) {
            $('.ErrorMsgOrg').attr("style", "display:block");
            $('#OrgInvalidMailMsg').attr("style", "display:block");
            $('#OrgReqMsg').attr("style", "display:none");
            slidetabs.setContentHeight();
            return;
        }
        else {
            $('.ErrorMsgOrg').attr("style", "display:none");
            $('#OrgInvalidMailMsg').attr("style", "display:none");
            $('#OrgReqMsg').attr("style", "display:none");
            slidetabs.setContentHeight();
        }

        if (isFormValid && isValidEmail) {
            SubmitCompanySetup();
            slidetabs.setContentHeight();
        }
       
    });

    function IsFormDataValid() {
        if ($.trim($('#txtCompanyName').val()) != '' && $.trim($('#txtOrgAddrLine1').val()) != '' && $.trim($('#txtOrgCity').val()) != '' && $.trim($('#txtOrgPinZip').val()) != '' && $.trim($('#txtOrgContactPerson').val()) != ''
             && $.trim($('#txtOrgEmail').val()) != '' && $.trim($('#txtOrgMobile').val()) != '' && $.trim($('#txtOrgLandline').val()) != '' && $('#ddlOrgBaseCurrency').val() > 0
             && $('#ddlOrgDateFormat').val() > 0) {
            return true;
        }
        else return false;
    }

    function SubmitCompanySetup(){
        var href = '@Url.Action("CompanyInsert")';
        $.ajax({
            url: href,
            data: $('#frmCompanySetup').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#OrgSuccessMsg').attr("style", "display:block");
                $('#btnSubmitA3').val('Update');
                slidetabs.setContentHeight();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('.ErrorMsgOrg').attr("style", "display:block");
                $('#OrgFailMsg').attr("style", "display:block");
                $('#OrgSuccessMsg').attr("style", "display:none");
                slidetabs.setContentHeight();
            }
        });
    }

    $('#btnOrgLogoUpload').click(function () {
        var href = '@Url.Action("FileUpload")';
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fleUpload');
        if (fileInput.value != "") {
           
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', href);
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //alert(xhr.responseText);
                    var filepath = $('#fleUpload').val();
                    var fileNameIndex = filepath.lastIndexOf("\\") + 1;
                    var filename = filepath.substr(fileNameIndex).replace('\\', '');
                    $('#imgUpload').attr("src", "/Content/" + filename);
                }
            }
        }
        return;
    
    //$.ajax({
    //    url: href,
    //    data: { fleUpload: $('#fleUpload')},
    //    type: "POST",
    //    enctype: 'multipart/form-data',
    //    datatype: "json",
    //    traditional: true,
    //    success: function (data) {
    //        $('#OrgSuccessMsg').attr("style", "display:block");
    //        $('#btnSubmitA3').val('Update');
    //        slidetabs.setContentHeight();
    //    },
    //    error: function (jqXhr, textStatus, errorThrown) {
    //        $('.ErrorMsgOrg').attr("style", "display:block");
    //        $('#OrgFailMsg').attr("style", "display:block");
    //        $('#OrgSuccessMsg').attr("style", "display:none");
    //        slidetabs.setContentHeight();
    //    }
    //});
    });

</script>
