@model SteerRent.Model.CompanySetup
<!--- START A003 - Company Setup -->


<div class="A003 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row">
                <p class="error_msg_bg">&nbsp;</p>
                <p class="error_msg_sm">Please enter all required fields.</p>
                <p class="error_msg_spclchar">Invalid E-Mail Id format.</p>
                <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form method="get" id="frmCompanySetup">
                <div class="contain_row">
                    <h5 class="contain_title">Basic Information</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Company Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtCompanyName" value="@Model.OrgName" class="alpha" id="txtCompanyName" type="text" placeholder="">
                                <input name="txtOrgID" value="@Model.OrgID" id="txtBUID" type="hidden">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part" style="display: none">
                            <p class="label_part">Company Logo<span></span></p>
                            <div class="label_input_part">
                                <input name="txtCompanyLogo" value="" id="txtCompanyLogo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 1 <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgAddrLine1" value="@Model.OrgAddress1" class="alphaNum"  id="txtOrgAddrLine1" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 2 <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgAddrLine2" value="@Model.OrgAddress2" class="alphaNum" id="txtOrgAddrLine2" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 3 <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgAddrLine3" value="@Model.OrgAddress3" class="alphaNum" id="txtOrgAddrLine3" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">City <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgCity" id="txtOrgCity" value="@Model.OrgCity" class="alpha" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Country <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgCountry" id="ddlOrgCountry">
                                    <option value="@Model.OrgCountryId">@Model.OrgCountry</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">State/Emirate <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgStateEmirate" id="ddlOrgStateEmirate">
                                    <option value="@Model.OrgEmirate">@Model.OrgEmirateName</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Pin/Zip <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgPinZip" id="txtOrgPinZip" class="numeric" value="@Model.OrgZip" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Post Box No.</p>
                            <div class="label_input_part">
                                <input name="txtOrgPostBox" id="txtOrgPostBox" class="numeric" value="@Model.OrgPostBoxNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="contain_row">
                    <h5 class="contain_title">Contact Person</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Full Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgContactPerson" id="txtOrgContactPerson" class="alpha" value="@Model.CPersonName" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Designation <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgDesignation" id="txtOrgDesignation" class="alpha" value="@Model.CPersonDesignation" type="text" placeholder="" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">E-Mail Id <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgEmail" id="txtOrgEmail" class="email" value="@Model.OrgEmailID" type="email" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Mobile No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgMobile" id="txtOrgMobile" class="numeric" value="@Model.CMobileNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Landline No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtOrgLandline" id="txtOrgLandline" class="numeric" value="@Model.OrgPhoneNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Fax No. <span></span></p>
                            <div class="label_input_part">
                                <input name="txtOrgFax" id="txtOrgFax" class="numeric" value="@Model.OrgFaxNo" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Locations</h5>
                    <div class="contain_sub_row">
                        <p class="label_part">Active Locations</p>
                        <div class="label_textarea_part">
                            <table>
                                @*1. Location Code - Location Name</br>
                                    2. Location Code - Location Name</br>
                                    3. Location Code - Location Name</br>
                                    4. Location Code - Location Name</br>*@
                                @if (Model != null)
                                {
                                    if (Model.lstLocation != null && Model.lstLocation.Count > 0)
                                    {
                                        var cnt = 0;
                                        foreach (var item in Model.lstLocation)
                                        {
                                            cnt = cnt + 1;
                                    <tr>
                                        <td>
                                            @Html.Raw(cnt)<span>.</span>
                                            @item.LocationCode<span> - </span>@item.LocationName
                                        </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td><span class="error_msg">--No Active Locations--</span></td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td><span class="error_msg">--No Active Locations--</span></td>
                                    </tr>
                                }
                            </table>
                        @*<fieldset>
                        <legend>Active Locations:</legend>
                        --No Active Locations--
                        </fieldset>*@
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Base Currency</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Choose Base Currency <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgBaseCurrency" id="ddlOrgBaseCurrency">
                                    <option value="@Model.BaseCurrencyId">@Model.BaseCurrency</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            @*<h5>Users will be allowed to configure Rate Plans in the currency that is chosen here. Invoices will be raised in this currency. lf customers prefer to pay in a differency currency the respective departments will have to calculate the exchange rate and process the payments. Users will have the option to choose other currencies during the payment process.*@
                            </h5>
                                                    <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Date Format</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Choose Date Format <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlOrgDateFormat" id="ddlOrgDateFormat">
                                    <option>-- Select --</option>
                                    @if(Model.DateFormat == "DD/MM/YYYY")
                                    {
                                    <option selected>DD/MM/YYYY</option>
                                        <option>MM/DD/YYYY</option>
                                    }
                                    else if (Model.DateFormat == "MM/DD/YYYY")
                                    {
                                    <option selected>MM/DD/YYYY</option>
                                        <option>DD/MM/YYYY</option>
                                    }
                                    else
                                    {<option>DD/MM/YYYY</option>
                                    <option>MM/DD/YYYY</option>}
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <h5></h5>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" id="btnSubmitA3" class="submit_btn" value="Submit" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- END A003 -->
<script lang="ja" type="text/javascript">

    $(function () {
        $(".numeric").attr("maxlength", 11)
        $(".alpha").attr("maxlength", 20)
        $(".email").attr("maxlength", 20)
        $(".alphaNum").attr("maxlength", 30)

        $(".numeric").bind("keypress", function (e) {
            var str = /[0-9,.+-]/;
            return globalValidation(e, str);
        });

        $(".numeric").bind("paste", function (e) {
            return false;
        });
        $(".numeric").bind("drop", function (e) {
            return false;
        });

        $(".alpha").bind("keypress", function (e) {
            var str = /[a-zA-Z ]/;
            return globalValidation(e, str);
        });

        $(".alphaNum").bind("keypress", function (e) {
            var str = /[a-zA-Z0-9,./ #]/;
            return globalValidation(e, str);
        });
    });

    if ($('#txtCompanyName').val() != '') {
        $('#btnSubmitA3').val('Update');
    }
    else
        $('#btnSubmitA3').val('Submit');

    function lengthRange(inputtxt, minlength, maxlength) {
        var userInput = inputtxt.value;
        if (userInput.length >= minlength && userInput.length <= maxlength) {
            return true;
        }
        else {
            alert("Please input between " + minlength + " and " + maxlength + " characters");
            return false;
        }
    }

    $('#ddlOrgCountry').click(function () {

        if ($('#ddlOrgCountry').val() == 0) {
            getMasterData('Country', '#ddlOrgCountry', false, 0);
        }
    });

    $('#ddlOrgStateEmirate').click(function () {
        if ($('#ddlOrgStateEmirate').val() == 0 && $('#ddlOrgCountry').text() != '') {
            getMasterData('Emirate', '#ddlOrgStateEmirate', false, $('#ddlOrgCountry').val());
        }
    });

    $('#ddlOrgBaseCurrency').click(function () {
        if ($('#ddlOrgBaseCurrency').val() == 0 && $('#ddlOrgBaseCurrency').text() != '') {
            getMasterData('Currency', '#ddlOrgBaseCurrency', true, 0);
        }
    });

    function getMasterData(str, ddlCtrl, isGlookup, gLookupId ) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: str, isGlookup: isGlookup, gLookupId: gLookupId },
            success: function (data) {
                $(ddlCtrl).empty();
                $.each(data, function () {
                    $(ddlCtrl).append($('<option />').attr('value', this.Value).text(this.Text));
                });
            }
        });
    }

    $('#btnSubmitA3').click(function () {

        var phVal = $('#txtOrgLandline').val();
        var emailVal = $('#txtOrgEmail').val();
     
        //if (phVal.match(/^[0-9]*$/)) {
        //    alert("numeric!");
        //    // do whatever else...
        //}

        var href = '@Url.Action("CompanyInsert")';
        $.ajax({
            url: href,
            data: $('#frmCompanySetup').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('.error_msg_bg').css("display", "none");
                $('.error_msg_sm').css("display", "none");
                $('.error_msg_exist').css("display", "none");
                $('.error_msg_spclchar').css("display", "none");
                $('.error_msg_error').css("display", "none");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
                $('.error_msg_bg').css("display", "block");
                $('.error_msg_error').css("display", "block");
            }
        });
    });
</script>
