@model SteerRent.Model.LookupCategoryModel
@{
    var cat = Model.LookupCategoryList.Where(m => m.IsGLookup == true).ToList();
    
    ViewBag.Title = "GeneralLookups_A001";
    //Layout = "~/Views/Shared/_Layout.cshtml";  
}

@*@using (Ajax.BeginForm("GeneralLookups_A001", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "frmGlookup" }))
{
    *@<!--- A001 - General Lookups -->
<div class="A001 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row">
                <p class="error_msg_bg">&nbsp;</p>
                <p class="error_msg_sm">Please select required field(s).</p>
                <p class="error_msg_exist">The chosen value already exists in the system.</p>
                <p class="error_msg_spclchar">Special characters are not allowed.</p>
                <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>

            <div class="contain_row">
                <h5 class="contain_title">General Lookups</h5>
                <div class="contain_sub_row">
                    <div class="contain_left_part">
                        <p class="label_part">Category<span></span></p>
                        <div class="label_combo_part">
                            @Html.DropDownListFor(model => model.LookupCategoryID, new SelectList(cat, "LookupCategoryID", "LookupCategoryCode"), "-- Select --", new { @id = "ddlCategory" })
                        </div>
                        <div class="clear"></div>
                    </div>
                   <div class="contain_left_part">
                             @*    <p class="label_part">Sub-Category<span></span></p>
                                <div class="label_combo_part">
                                    <div id="dvSubCategory">
                                    @{
                                                            
                                        var scat = Model.LookupCategoryList.Where(m => m.HierarchyLevel == 2).ToList();
                                        }
                                    @Html.DropDownListFor(model => model.LookupCategoryID, new SelectList(scat, "LookupCategoryID", "LookupCategoryCode"),"--Select Sub-Category--")
                                    @if(ViewBag.SubCategory != null)
                                    {
                                        @Html.DropDownList("SubCategory", (IEnumerable<SelectListItem>)ViewBag.SubCategory, "--Select Sub-Category--", new { @id="ddlSubCategory" })
                                    }
                                        </div>
                                </div>*@
                                <div class="clear"></div>
                            </div>
                   <div class="clear"></div>  
                </div>
            </div>

            <div class="contain_row">
                <h5 class="contain_title">Existing Values</h5>
                <div class="contain_sub_row">
                    <p class="label_part exlabel">List of Values</p>
                    <div class="label_textarea_part">
                        <span id="GlookupGrdList">
                            @Html.Partial("_SearchResults", Model)
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="contain_row">
                <h5 class="contain_title">Add Lookup Data for "<span id="spnGLookupSelValue">Category</span>"</h5>
                <div class="contain_sub_row">
                    <div class="contain_left_part">
                        <p class="label_part">Enter New Value <span>*</span></p>
                        <div class="label_input_part">
                            <input name="txtGLookupValue" id="txtGLookupValue" type="text" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_left_part">
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="submit_part">
                <div class="contain_submit_row">
                    <input type="button" id="btnSubmitA1" class="submit_btn" value="Submit" />
                </div>
            </div>


        </div>
    </div>
</div>
    <!-- END A001 -->
@*    }*@
    
    <script lang="ja" type="text/javascript">
        $(document).ready(function () {

        //    var gridDataUrl = '/Master/JsonSalesCollection';
        //    var gridimgpath = '~/Scripts/jqgrid/themes/redmond/images';

        //    jQuery("#grdList").jqGrid(
        //        {url: gridDataUrl,
        //    datatype: "json",
        //    mtype: 'GET',
        //    colNames: ['LookupCategoryID', 'LookupCategoryDesc'],
        //    colModel: [
        //                 { name: 'LookupCategoryID', index: 'LookupCategoryID', width: 50, align: 'left' },
        //                 { name: 'LookupCategoryDesc', index: 'LookupCategoryDesc', width: 100, align: 'right' }],
        //    rowNum: 20,
        //    rowList: [10, 20, 30],
        //   // imgpath: gridimgpath,
        //    height: 'auto',
        //    width: '700',
        //    pager: jQuery('#pager'),
        //    sortname: 'LookupCategoryID',
        //    viewrecords: true,
        //    sortorder: "LookupCategoryDesc",
        //    caption: "Look"
        //});

            $('#ddlCategory').change(function () {
                if ($('#ddlCategory').val() > 0) {
                    $('#spnGLookupSelValue').text($("#ddlCategory option:selected").text());
                    RefreshGrid('Select');
                }
            });

            $('#btnSubmitA1').click(function () {
                
                if ($('#ddlCategory').val() > 0) {
                    RefreshGrid('Insert');
                }
                else {
                    $('.error_msg_bg').css("display", "block");
                    $('.error_msg_sm').css("display", "block");
                }
            });

            function RefreshGrid(status)
            {
                var href = '@Url.Action("GeneralLookupSubmit")';
                $.ajax({
                    url: href,
                    data: { id: $('#ddlCategory').val(), value: $('#txtGLookupValue').val(), status: status },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#GlookupGrdList').replaceWith(data);
                        $('#txtGLookupValue').val('');
                        //debugger;
                        //var items = [];
                        //items.push("<option>--Select Sub-Category--</option>");
                        //alert(data);
                        //$.each(data, function () {
                        //    items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                        //});
                        //$("#ddlSubCategory").html(items.join(' '));
                        //alert('Glookup');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('.error_msg_bg').css("display", "block");
                        $('.error_msg_error').css("display", "block");//("Error:Action is aborted.Please try again later.");
                    }
                });
            }
        });
    </script>

