@model SteerRent.Model.LookupCategoryModel
@{
    var objCategories = Model.LookupCategoryList.Where(m => m.IsGLookup == false).ToList();
    
    ViewBag.Title = "HierarchicalLookups_A001";
}
<!--- START A002 - Hierarchical Lookups -->
                        <div class="A002 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row">
                                    	<p class="error_msg_bg">&nbsp;</p>
                                        <p class="error_msg_sm">Please select/enter required field(s).</p>
                                        <p class="error_msg_exist">The chosen value already exists in the system.</p>
                                        <p class="error_msg_spclchar">Special characters are not allowed.</p>
                                        <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                    </div>
                                        <div class="contain_row">
                                        	<h5 class="contain_title">Hierarchical Lookups</h5>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Category & Sub-Category<span></span></p>
                                                    <div class="label_combo_part">
                                                    	@Html.DropDownListFor(model => model.LookupCategoryID, new SelectList(objCategories, "LookupCategoryID", "LookupCategoryCode"), "", new { @id = "ddlHLookupCategory" })
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        </div>
                                        
                                        <div class="contain_row">
                                        	<h5 class="contain_title">Existing Values</h5>
                                            <div class="contain_sub_row">
                                            	<p class="label_part">List of Values</p>
                                                <div id="HLookupGrdList">
                                                    @Html.Partial("_HLookupSearchResults", Model)
                                                    </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                        <div class="contain_row">
                                        	<h5 class="contain_title">Add Lookup Data for " <span id="spnHLookupSelValue">Category & Sub-Category</span>"</h5>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Existing Category <span>**</span></p>
                                                    
                                                    <div class="label_combo_part">
                                                        <select name="ddlHLookupExistCategory" id="ddlHLookupExistCategory"></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">New Sub-Category <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtHLookupCatValue" id="txtHLookupCatValue" type="text" placeholder="">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>OR</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">New Category <span>**</span></p>
                                                    
                                                    <div class="label_input_part">
                                                        <input name="txtHLookupSubCatValue" id="txtHLookupSubCatValue" type="text" placeholder="">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part"><span></span></p>
                                                   
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        </div>                                                                          
                                        
                                        <div class="submit_part">
                                            <div class="contain_submit_row">
                                                <input type="button" id="btnSubmitA2" class="submit_btn" value="Submit" />
                                            </div>
                                        </div>
                                </div>
                            </div>    
                        </div>
<!-- END A002 -->
<script lang="ja" type="text/javascript">

    $('#ddlHLookupCategory').change(function () {
        if ($('#ddlHLookupCategory').val() > 0) {
            $('#spnHLookupSelValue').text($("#ddlHLookupCategory option:selected").text());
            RefreshGrid('Select');

            $.ajax({
                type: "POST",
                url: '@Url.Action("getHLookupExistCategory")',
                data: { selCatId: $('#ddlHLookupCategory').val() },
                success: function (data) {
                    $("#ddlHLookupExistCategory").empty();
                    $.each(data, function () {
                        $("#ddlHLookupExistCategory").append($('<option />').attr('value', this.Value).text(this.Text));
                    });
                }
             })
        }
    });

    $("#ddlHLookupExistCategory11").change(function () {
        if ($('#ddlHLookupCategory').val() > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getCityJson")',
                data: { stateId: $('#ddlHLookupCategory').val() },
                success: function (data) {
                    var size = data.length;
                    var items = [];
                    items.push("&lt;option>--Choose Your Area--&lt;/option>");
                    for (i = 0; i < size; i++) {
                        var s = i;
                    }
                    $.each(data, function () {
                        alert(this.Text);
                        items.push("&lt;option value=" + this.Value + ">" + this.Text + "&lt;/option>");
                    });

                    $("#ddlHLookupExistCategory").html(items.join(' '));
                }
            })
        }
    });

    $('#btnSubmitA2').click(function () {
                
        if ($('#ddlHLookupCategory').val() > 0) {
            RefreshGrid('Insert');
        }
        else {
            $('.error_msg_bg').css("display", "block");
            $('.error_msg_sm').css("display", "block");
        }
    });

    function RefreshGrid(status)
    {
        var catvalue = $('#txtHLookupCatValue').val();
        var catid = $('#ddlHLookupExistCategory').val();
        if (status == 'Insert') {
            if (catvalue == '' || catid == '') {
                $('.error_msg_sm').css("display", "block"); $('.error_msg_bg').css("display", "block");
                return false;
            }
        }
        var href = '@Url.Action("HierarchicalLookupSubmit")';
                $.ajax({
                    url: href,
                    data: { id: $('#ddlHLookupCategory').val(), catValue: catvalue,catId: catid, subCatValue: $('#txtHLookupSubCatValue').val(), status: status },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#HLookupGrdList').replaceWith(data);
                        $('#txtHLookupCatValue').val('');
                        $('#txtHLookupSubCatValue').val('');
                        $('.error_msg_bg').css("display", "none");
                        $('.error_msg_sm').css("display", "none");
                        $('.error_msg_exist').css("display", "none");
                        $('.error_msg_spclchar').css("display", "none");
                        $('.error_msg_error').css("display", "none");
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('.error_msg_bg').css("display", "block");
                        $('.error_msg_error').css("display", "block"); //("Error:Action is aborted.Please try again later.");
                    }
                });
       }
    
</script>